#Orchestration
langgraph>=0.2.0
langgraph-checkpoint-sqlite          

#LLM 
langchain-openai

#Langchain loaders 
langchain-core>=0.3.0
langchain-community>=0.3.0
langchain-text-splitters>=0.3.0
pymupdf                              

#Vector store 
langchain-qdrant>=0.2.0
qdrant-client>=1.10.0

#Embeddings 
fastembed>=0.3.0                     

#Re-ranker(local / free) 
flashrank>=0.2.0

#Web search fallback 
tavily-python>=0.3.0

#Utilities 
python-dotenv>=1.0.0
pydantic>=2.0.0
fastapi[standard]